doctype html
html(class="no-js", lang="pt")
	include head
	body
		include header
		div#content(role="content")
			div.row
				nav(class="small-12 columns")#breadcrumbs
					ul.breadcrumbs
						li
							a(href=".") Home
						li
							a(href="#") Pós-Congresso
						li.current
							a(href="#") Anais

				div(class="small-9 columns")
					div#page-title(class="small-12")
						h1
							a(href="#") Anais
					div.sub-category-menu
						a(href="/informacoes-viagem.html").button Certificados
						a(href="/informacoes.html").button.current Anais
						a(href="/informacoes-agencia.html").button Handouts
					
					form.row
						.small-6.columns.icon-search
							input(type='text' placeholder='pesquise por título, autores, etc...' tabindex='1')
						.small-4.columns
							select(tabindex='2')
								option(disabled selected) ÁREAS
								each val, key in  {'value1': 'Option 1', 'value2': 'Option 2', 'value3': 'Option 3'}
									option(value=key)= val
						.small-2.columns
							input.button.secondary.expand.tiny(type='submit' value='Buscar' tabindex='3')

					.row
						.small-12.column.left
							table
								thead.bg-secondary
									tr
										th.box-title N&deg;
										th.box-title Título
										th.box-title Autores
										th.box-title Áreas
								tbody
									- var lines = 9; var n = 1;
									while n <= lines
										tr
											td= n++
											td This is longer content Donec id elit non mi porta gravida at eget metus.
											td Content Goes Here
											td Content Goes Here
							ul.pagination.right(role='menubar' aria-label='pagination')
								- var pages = 8; var j = 2;
								li.arrow.unavailable(aria-disabled='true')
									a.icon-a-left(href='#')
								li.current
									a(href='#') 1
								while j < pages
									li
										a(href='#')= j++
								li.arrow
									a.icon-a-right(href='#')
				div(class="small-3 columns")
					include sidebar
		include footer