doctype html
html(class="no-js", lang="pt")
	include head
	body
		include header
		div#content(role="content")
			div.row
				nav(class="small-12 columns")#breadcrumbs
					ul.breadcrumbs
						li
							a(href=".") Home
						li
							a(href="#") Pós-Congresso
						li.current
							a(href="#") Certificados

				div(class="small-9 columns")
					div#page-title(class="small-12")
						h1
							a(href="#") Certificados
					div.sub-category-menu
						a(href="/informacoes.html").button.current Certificados
						a(href="/informacoes-viagem.html").button Anais
						a(href="/informacoes-agencia.html").button Handouts
						a(href="/informacoes-agencia.html").button Devoluções

					.row
						.small-12.column
							.content_block
								p.lead Participantes
								p
									| Os certificados estarão disponíveis para impressão no site após o congresso.
								p.lead Trabalhos Científicos
								p
									| Serão entregues ao apresentador após apresentação do trabalho mediante assinatura da lista de controle. Será entregue um certificado por trabalho.
								a.button.secondary.expand(href="#") Obter certificados
				div(class="small-3 columns")
					include sidebar
		include footer