doctype html
html(class="no-js", lang="pt")
	include head
	body
		include header
		div#content(role="content")
			div.row
				nav(class="small-12 columns")#breadcrumbs
					ul.breadcrumbs
						li
							a(href=".") Home
						li
							a(href="#") O Congresso
						li
							a(href="#") ÁREA PRIVATIVA DAS COMISSÕES
						li.current
							a(href="#") PREMIAÇÃO

				div(class="small-9 columns")
					div(class="small-12")#page-title
						h1
							a(href="#") PREMIAÇÃO

					.small-12.sub-category-menu.row
						.small-6.columns.left
							select
								option(value="") PESQUISE POR RESIDENTE OU NÃO RESIDENTE
								option(value="opcao1") Opção 1
								option(value="opcao2") Opção 2
								option(value="opcao3") Opção 3
								option(value="opcao4") Opção 4
						.small-6.columns.left
							a(href="#").button.bg-secondary.right VOLTAR

					.small-12.left.table-custom
						table.small-12
							thead.small-12
								tr
									th.small-1.bg-secondary 
									th.small-6.bg-secondary Título
									th.small-3.bg-secondary Área
									th.small-1.bg-secondary Pontos
									th.small-1.bg-secondary Edição

							tbody.small-12
								tr
									td.small-1.bg-primary
										a(href="#").icon-sum
									td.small-6 O que mudou na nova classificação dos tumores de mama da OMS de 2012: implicações práticas.
									td.small-3 Patologia Mamária
									td.small-1
										strong 56
									td.small-1
										a(href="#").icon-edit.dark-gray

								tr
									td.small-1.bg-primary
										a(href="#").icon-sum
									td.small-6 O que mudou na nova classificação dos tumores de mama da OMS de 2012: implicações práticas.
									td.small-3 Patologia Mamária
									td.small-1
										strong 56
									td.small-1
										a(href="#").icon-edit.dark-gray

								tr
									td.small-1.bg-primary
										a(href="#").icon-sum
									td.small-6 O que mudou na nova classificação dos tumores de mama da OMS de 2012: implicações práticas.
									td.small-3 Patologia Mamária
									td.small-1
										strong 56
									td.small-1
										a(href="#").icon-edit.dark-gray

								tr
									td.small-1.bg-primary
										a(href="#").icon-sum
									td.small-6 O que mudou na nova classificação dos tumores de mama da OMS de 2012: implicações práticas.
									td.small-3 Patologia Mamária
									td.small-1
										strong 56
									td.small-1
										a(href="#").icon-edit.dark-gray

					.small-12.sub-category-menu.row
						.small-6.columns.left
							select
								option(value="") PESQUISE POR RESIDENTE OU NÃO RESIDENTE
								option(value="opcao1") Opção 1
								option(value="opcao2") Opção 2
								option(value="opcao3") Opção 3
								option(value="opcao4") Opção 4
						.small-6.columns.left
							p.prize Valor da Premiação: 1.100,00

					.small-12.left.table-custom
						table.small-12
							thead.small-12
								tr
									th.small-1.bg-secondary 
									th.small-6.bg-secondary Título
									th.small-3.bg-secondary Área
									th.small-1.bg-secondary Pontos
									th.small-1.bg-secondary Edição

							tbody.small-12
								tr
									td.small-1.bg-custom.red-blood
										a(href="#").icon-close
									td.small-6 O que mudou na nova classificação dos tumores de mama da OMS de 2012: implicações práticas.
									td.small-3 Patologia Mamária
									td.small-1
										strong 56
									td.small-1 
										a(href="#").icon-edit.dark-gray

								tr
									td.small-1.bg-custom.red-blood
										a(href="#").icon-close
									td.small-6 O que mudou na nova classificação dos tumores de mama da OMS de 2012: implicações práticas.
									td.small-3 Patologia Mamária
									td.small-1
										strong 56
									td.small-1 
										a(href="#").icon-edit.dark-gray

								tr
									td.small-1.bg-custom.red-blood
										a(href="#").icon-close
									td.small-6 O que mudou na nova classificação dos tumores de mama da OMS de 2012: implicações práticas.
									td.small-3 Patologia Mamária
									td.small-1
										strong 56
									td.small-1 
										a(href="#").icon-edit.dark-gray

								tr
									td.small-1.bg-custom.red-blood
										a(href="#").icon-close
									td.small-6 O que mudou na nova classificação dos tumores de mama da OMS de 2012: implicações práticas.
									td.small-3 Patologia Mamária
									td.small-1
										strong 56
									td.small-1 
										a(href="#").icon-edit.dark-gray

				div(class="small-3 columns")
					include sidebar
		include footer