doctype html
html(class="no-js", lang="pt")
	include head
	body
		include header
		div#content(role="content")
			div.row
				nav(class="small-12 columns")#breadcrumbs
					ul.breadcrumbs
						li
							a(href=".") Home
						li
							a(href="#") O Congresso
						li.current
							a(href="#") ÁREA PRIVATIVA DAS COMISSÕES

				div(class="small-9 columns")
					div(class="small-12")#page-title
						h1
							a(href="#") ÁREA PRIVATIVA DAS COMISSÕES

					.small-12.sub-category-menu
						a(href="#").button APROVADOS
						a(href="#").button ÁREAS DE CONHECIMENTO

					.small-12.left.login_block.bg-primary 
						h2 
							strong Bem-vindo a área privativa das comissões.

					.small-12.left.table-custom
						table.small-12
							thead.small-12
								tr
									th.small-2.bg-custom.dark-gray DATA INÍCIO
									th.small-2.bg-custom.dark-gray DATA FINAL
									th.small-4.bg-custom.dark-gray 
									th.small-4.bg-custom.dark-gray 

							tbody.small-12
								tr
									td.small-2 12/09/2015
									td.small-2 13/09/2015
									td.small-4 
										a(href="#").small-12.button.bg-secondary COMISSÃO AVALIADORA DOS TRABALHOS
									td.small-4 Lorem ipsum dolor sit amet, consectetur adipiscing elit.

								tr
									td.small-2 13/09/2015
									td.small-2 13/09/2015
									td.small-4 
										a(href="#").small-12.button.bg-custom.dark-gray COORDENAÇÃO CIENTÍFICA
									td.small-4 Lorem ipsum dolor sit amet, consectetur adipiscing elit.

								tr
									td.small-2 12/09/2015
									td.small-2 13/09/2015
									td.small-4 
										a(href="#").small-12.button.bg-custom.dark-gray COMISSÃO AD HOC
									td.small-4 Lorem ipsum dolor sit amet, consectetur adipiscing elit.

								tr
									td.small-2 12/09/2015
									td.small-2 13/09/2015
									td.small-4 
										a(href="#").small-12.button.bg-secondary PREMIAÇÃO
									td.small-4 Lorem ipsum dolor sit amet, consectetur adipiscing elit.

				div(class="small-3 columns")
					include sidebar
		include footer