doctype html
html(class="no-js", lang="pt")
	include head
	body
		include header
		div#content(role="content")
			div.row
				nav(class="small-12 columns")#breadcrumbs
					ul.breadcrumbs
						li
							a(href=".") Home
						li
							a(href="#") O Congresso
						li
							a(href="#") ÁREA PRIVATIVA DAS COMISSÕES
						li.current
							a(href="#") APROVADOS

				div(class="small-9 columns")
					div(class="small-12")#page-title
						h1
							a(href="#") APROVADOS

					.small-12.sub-category-menu.row
						.small-6.columns.left
							select
								option(value="") PESQUISE PELO TIPO DE APROVAÇÃO
								option(value="opcao1") Opção 1
								option(value="opcao2") Opção 2
								option(value="opcao3") Opção 3
								option(value="opcao4") Opção 4
						.small-6.columns.left
							a(href="#").button.bg-secondary.right VOLTAR

					.small-12.left.table-custom
						table.small-12
							thead.small-12
								tr
									th.small-5.bg-secondary Título
									th.small-2.bg-secondary Tipo
									th.small-2.bg-secondary Área
									th.small-2.bg-secondary Aprovação
									th.small-1.bg-secondary Edição

							tbody.small-12
								tr
									td.small-5 O que mudou na nova classificação dos tumores de mama da OMS de 2012: implicações práticas.
									td.small-2 Comunicação Científica
									td.small-2 Patologia Mamária
									td.small-2 Pôster
									td.small-1 
										a(href="#").icon-edit.dark-gray

								tr
									td.small-5 O que mudou na nova classificação dos tumores de mama da OMS de 2012: implicações práticas.
									td.small-2 Comunicação Científica
									td.small-2 Patologia Mamária
									td.small-2 Pôster
									td.small-1 
										a(href="#").icon-edit.dark-gray

								tr
									td.small-5 O que mudou na nova classificação dos tumores de mama da OMS de 2012: implicações práticas.
									td.small-2 Comunicação Científica
									td.small-2 Patologia Mamária
									td.small-2 Pôster
									td.small-1 
										a(href="#").icon-edit.dark-gray

								tr
									td.small-5 O que mudou na nova classificação dos tumores de mama da OMS de 2012: implicações práticas.
									td.small-2 Comunicação Científica
									td.small-2 Patologia Mamária
									td.small-2 Pôster
									td.small-1 
										a(href="#").icon-edit.dark-gray

								tr
									td.small-5 O que mudou na nova classificação dos tumores de mama da OMS de 2012: implicações práticas.
									td.small-2 Comunicação Científica
									td.small-2 Patologia Mamária
									td.small-2 Pôster
									td.small-1 
										a(href="#").icon-edit.dark-gray
										
								tr
									td.small-5 O que mudou na nova classificação dos tumores de mama da OMS de 2012: implicações práticas.
									td.small-2 Comunicação Científica
									td.small-2 Patologia Mamária
									td.small-2 Pôster
									td.small-1 
										a(href="#").icon-edit.dark-gray

								tr
									td.small-5 O que mudou na nova classificação dos tumores de mama da OMS de 2012: implicações práticas.
									td.small-2 Comunicação Científica
									td.small-2 Patologia Mamária
									td.small-2 Pôster
									td.small-1 
										a(href="#").icon-edit.dark-gray

								tr
									td.small-5 O que mudou na nova classificação dos tumores de mama da OMS de 2012: implicações práticas.
									td.small-2 Comunicação Científica
									td.small-2 Patologia Mamária
									td.small-2 Pôster
									td.small-1 
										a(href="#").icon-edit.dark-gray


								tr
									td.small-5 O que mudou na nova classificação dos tumores de mama da OMS de 2012: implicações práticas.
									td.small-2 Comunicação Científica
									td.small-2 Patologia Mamária
									td.small-2 Pôster
									td.small-1 
										a(href="#").icon-edit.dark-gray

								tr
									td.small-5 O que mudou na nova classificação dos tumores de mama da OMS de 2012: implicações práticas.
									td.small-2 Comunicação Científica
									td.small-2 Patologia Mamária
									td.small-2 Pôster
									td.small-1 
										a(href="#").icon-edit.dark-gray

				div(class="small-3 columns")
					include sidebar
		include footer