doctype html
html(class="no-js", lang="pt")
	include head
	body
		include header
		div#content(role="content")
			div.row
				nav(class="small-12 columns")#breadcrumbs
					ul.breadcrumbs
						li
							a(href=".") Home
						li
							a(href="#") O Congresso
						li.current
							a(href="#") Datas Importantes

				div(class="small-9 columns")
					div#page-title(class="small-12")
						h1
							a(href="#") Datas Importantes
					.row.data-menu
						.small-10.columns
							ul.small-block-grid-7
								li
									a.button(href='#') abr
								li
									a.button(href='#') mai
								li
									a.button(href='#') jun
								li
									a.button(href='#') jul
								li
									a.button(href='#') ago
								li
									a.button(href='#') set
								li
									a.button(href='#') out
						.small-2.columns
							a.icon-mail-1(href='#')
							a.icon-print(href='#')
					.row
						.small-12.column
							.content_block.data_block
								h3 Abril
								span 01/04/15
								.panel
									dl
										dt Inscrições
										dd Início das inscrições para os congressistas
											a(href='#') Clique aqui e inscreva-se agora &rsaquo;
								.panel
									dl
										dt Trabalhos
										dd Abertura do site para recebimento de trabalhos
											a(href='#') Clique aqui para enviar seus trabalhos &rsaquo;
							.content_block.data_block
								h3 Maio
								span 20/05/15
								.panel
									dl
										dt Trabalhos
										dd Último dia para recebimento de trabalhos
											a(href='#') Clique aqui para enviar seus trabalhos &rsaquo;
							.content_block.data_block
								h3 Junho
								span 01/06/15
								.panel
									dl
										dt Trabalhos
										dd Último dia para recebimento de casos para o SL dos Residentes
											a(href='#') Clique aqui para enviar seus casos e SL de Residentes &rsaquo;
							.content_block.data_block
								h3 Julho
								span 30/07/15
								.panel
									dl
										dt Trabalhos
										dd Divulgação dos trabalhos aprovados
											a(href='#') Clique aqui para ver os trabalhos aprovados &rsaquo;
							.content_block.data_block
								h3 Outubro
								span 15/10/15
								.panel
									dl
										dt Inscrições
										dd Encerramento das inscrições antecipadas
				div(class="small-3 columns")
					include sidebar
		include footer