doctype html
html(class="no-js", lang="pt")
	include head
	body
		include header
		div#content(role="content")
			div.row
				nav(class="small-12 columns")#breadcrumbs
					ul.breadcrumbs
						li
							a(href=".") Home
						li.current
							a(href="#") Fale conosco

				div(class="small-9 columns")
					div(class="small-12")#page-title
						h1
							a(href="#") FALE CONOSCO

					div(class="small-12")
						//- Fale Conosco
						address.small-12
							div.small-1.icon.icon-phone2.left
							div.small-11.line_content
								a(href="#") +55 21 3326-3320 
								| - Interevent <br>
							div.small-1.icon.icon-mail-2.left
							div.small-11.line_content
								a(href="#") patologia2015@interevent.com.br <br>
							div.small-1.icon.icon-place.left
							div.small-11.line_content
								a(href="#") Centro de Convenções Frei Caneca - Rua Frei Caneca, 569 - Consolação <br> Brasil - São Paulo/SP

						br
						br
							
						//- Formulário
						div.small-12.left.content_block
							p Envie-nos sua dúvida ou sugestão. Teremos prazer em atendê-lo(a).
							form.row
								div.small-12.columns
									div(data-alert class="alert-box") Obrigado pelo contato, em breve retornaremos sua dúvida ou solicitação.
										a(href="#" class="close") &times;
								div.small-12.columns
									input(type="text" placeholder="Nome Completo")

								div.small-6.columns
									input(type="text" placeholder="E-mail")

								div.small-6.columns
									input(type="text" placeholder="Telefone")

								div.small-12.columns
									select
										option(value="") Assunto (selecione)
										option(value="opcao1") Opção 1
										option(value="opcao2") Opção 2
										option(value="opcao3") Opção 3
										option(value="opcao4") Opção 4
								div.small-12.columns
									textarea(class="text" placeholder="Mensagem")
								div.small-12.columns
									button.button.secondary Enviar

				div(class="small-3 columns")
					include sidebar
		include footer