doctype html
html(class="no-js", lang="pt")
	include head
	body
		include header
		div#content(role="content")
			div.row
				nav(class="small-12 columns")#breadcrumbs
					ul.breadcrumbs
						li
							a(href=".") Home
						li
							a(href="#") Pós-Congresso
						li.current
							a(href="#") Handouts

				div(class="small-9 columns")
					div#page-title(class="small-12")
						h1
							a(href="#") Handouts
					div.sub-category-menu
						a(href="/informacoes-viagem.html").button Certificados
						a(href="/informacoes.html").button Anais
						a(href="/informacoes-agencia.html").button.current Handouts
					
					form.row
						legend.small-12.column Critérios de Seleção
						.small-5.columns
							select(tabindex='2')
								option(disabled selected) SELECIONE O TIPO DE ATIVIDADE
								each val, key in  {'value1': 'Option 1', 'value2': 'Option 2', 'value3': 'Option 3'}
									option(value=key)= val
						.small-5.columns
							select(tabindex='2')
								option(disabled selected) SELECIONE A ATIVIDADE
								each val, key in  {'value1': 'Option 1', 'value2': 'Option 2', 'value3': 'Option 3'}
									option(value=key)= val
						.small-2.columns
							input.button.secondary.expand.tiny(type='submit' value='Buscar' tabindex='3')
					
					.row
						.small-12.column.left
							table
								thead.bg-secondary
									tr
										th.box-title Responsável
										th.box-title Título
										th.box-title Data Início
										th.box-title Data Fim
										th.box-title Handouts
								tbody
									- var lines = 9; var n = 1;
									while n <= lines
										tr(data-row=n++)
											td Helenice Gobbi
											td This is longer content Donec id elit non mi porta gravida at eget metus.
											td 
												| 13/10/2013
												br
												| 14:00:00
											td 
												| 13/10/2013
												br
												| 14:00:00
											td
												a.icon-folder-move(href='#')
												a.has-tip.tip-top.icon-info(data-tooltip aria-haspopup='true' title='Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam eos, neque debitis delectus reiciendis distinctio adipisci quod aspernatur molestias inventore nihil voluptate quasi, fugit quas fugiat error magni totam praesentium.')

							ul.pagination.right(role='menubar' aria-label='pagination')
								- var pages = 8; var j = 2;
								li.arrow.unavailable(aria-disabled='true')
									a.icon-a-left(href='#')
								li.current
									a(href='#') 1
								while j < pages
									li
										a(href='#')= j++
								li.arrow
									a.icon-a-right(href='#')
				div(class="small-3 columns")
					include sidebar
		include footer