doctype html
html(class="no-js", lang="pt")
	include head
	body
		include header
		div#content(role="content")
			div.row
				nav(class="small-12 columns")#breadcrumbs
					ul.breadcrumbs
						li
							a(href=".") Home
						li
							a(href="#") O Congresso
						li
							a(href="#") Informações
						li.current
							a(href="#") Agência de Eventos

				div(class="small-9 columns")
					div(class="small-12")#page-title
						h1
							a(href="#") INFORMAÇÕES

					div.sub-category-menu
						a(href="/informacoes.html").button Informações Gerais
						a(href="/informacoes-viagem.html").button Viagem e Hospedagem
						a(href="/informacoes-agencia.html").button.current Agência de Eventos
						a(href="/informacoes-saopaulo.html" style="min-width:inherit").button São Paulo

					div(class="small-12")
						//- Interevent 
						div.small-12.left.empresa
							div.small-4.left.logo
								img(src="http://placehold.it/300x200", alt="")
							div.small-8.left.local
								h3 Interevent - Marketing de Congressos
								address
									p 
										a(href="#") Av. das Americas 3500 <br> Bl. Hong Kong 3000 Sl. 405 
										| <br> Tel. 
										a(href="#") +55 (21) 3326-3320 
										| ou 
										a(href="#") +55 (21) 2437-1483
										| <br>
										a.link(href="#") patologia2015@interevent.com.br <br>
										a.link(href="#") www.interevent.com.br

				div(class="small-3 columns")
					include sidebar
		include footer