doctype html
html(class="no-js", lang="pt")
	include head
	body
		include header
		div#content(role="content")
			div.row
				nav(class="small-12 columns")#breadcrumbs
					ul.breadcrumbs
						li
							a(href=".") Home
						li
							a(href="#") O Congresso
						li
							a(href="#") Informações
						li.current
							a(href="#") São Paulo

				div(class="small-9 columns")
					div(class="small-12")#page-title
						h1
							a(href="#") INFORMAÇÕES

					div.sub-category-menu
						a(href="/informacoes.html").button Informações Gerais
						a(href="/informacoes-viagem.html").button Viagem e Hospedagem
						a(href="/informacoes-agencia.html").button Agência de Eventos
						a(href="/informacoes-saopaulo.html" style="min-width:inherit").button.current São Paulo

					div(class="small-12")
						//- São Paulo
						ul.content-slider(data-orbit, data-options="slide_number: false; bullets: false; timer: false; next_class: block-nav-next; prev_class: block-nav-prev; ")
							li
								img(src="http://placehold.it/740x210/112233", alt="")
							li
								img(src="http://placehold.it/740x210/223344", alt="")
							li
								img(src="http://placehold.it/740x210/334455", alt="")

						.content_block
							| <br>
							h2 São Paulo
							p Fonte: 
								a(href="#") www.cidadedesaopaulo.com
							p Fascinante, São Paulo é uma metrópole superlativa em tudo, inclusive na diversidade. Efervescente caldeirão de estilos e culturas onde convivem pessoas de mais de 70 nacionalidades, também é um grande centro de entretenimento: são mais de 280 salas de cinema, 180 teatros, mais de 90 centros culturais e 110 museus, além de inúmeras casas noturnas dos mais diversos estilos para uma das noites mais agitadas do planeta. Sem falar nas compras – com 79 shoppings e dezenas de ruas de comércio especializado. E na gastronomia – há mais de 12,5 mil restaurantes, com 52 tipos de cozinha de todas as partes do mundo. Por motivos assim, vale muito a pena descobrir esta cidade global, repleta de conhecimento, tendências, cheiros e cores.

							p Seja qual for o estilo, a cidade tem muito a oferecer. Por isso, foram elaborados roteiros temáticos, sugestões de passeios e seleção de atrativos para que se possa vivenciar uma São Paulo feita sob medida para você. Experimente, aguce seus sentidos e surpreenda-se.

						dl.small-12.accordion(data-accordion)
							dd.accordion-navigation.small-12.left.active
								a(href="#telefones-uteis").bg-secondary.small-12.left
									h2.small-12.box-title.icon-phone Telefones Úteis
								div#telefones-uteis.content.small-12.left.content_block.active
									| <br>
									p Fonte:
										a(href="#") www.cidadedesaopaulo.com

									h3 EMERGÊNCIAS
									ul
										li Emergência de saúde – 192
										li Polícia Militar – 190
										li Bombeiros – 193

									h3 TRANSPORTES
									ul
										li Aeroportos – São Paulo Guarulhos
											a(href="#") (11) 2445-2945; Congonhas 
											a(href="#") (11) 5090-9000;
										li Airport Bus Service – 
											a(href="#") 0800-2853047 ou 
											a(href="#") (11) 3775-3850 / 
											a(href="#") www.airportbusservice.com.br
										li Terminais Rodoviários: Tietê, Barra Funda e Jabaquara – 
											a(href="#") (11) 3866-1100 / 
											a(href="#") www.socicam.com.br
										li Localiza (Locadoras de Automóveis) - 
											a(href="#") (31) 3247-7661 / 
											a(href="#") www.localiza.com/reservas/
										li Associação Brasileira das Locadoras de Automóveis – 
											a(href="#") www.abla.com.br

							dd.accordion-navigation.small-12.left
								a(href="#clima").bg-secondary.small-12.left
									h2.small-12.box-title.icon-sun  Clima
								div#clima.content.small-12.left.content_block
									| <br>
									p Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings elitis. Pra lá , depois divoltis porris, paradis. Paisis, filhis, espiritis santis. Mé faiz elementum girarzis, nisi eros vermeio, in elementis mé pra quem é amistosis quis leo. Manduma pindureta quium dia nois paga. Sapien in monti palavris qui num significa nadis i pareci latim. Interessantiss quisso pudia ce receita de bolis, mais bolis eu num gostis.

							dd.accordion-navigation.small-12.left
								a(href="#transporte").bg-secondary.small-12.left
									h2.small-12.box-title.icon-bus  Transporte 
								div#transporte.content.small-12.left.content_block
									| <br>
									p Suco de cevadiss, é um leite divinis, qui tem lupuliz, matis, aguis e fermentis. Interagi no mé, cursus quis, vehicula ac nisi. Aenean vel dui dui. Nullam leo erat, aliquet quis tempus a, posuere ut mi. Ut scelerisque neque et turpis posuere pulvinar pellentesque nibh ullamcorper. Pharetra in mattis molestie, volutpat elementum justo. Aenean ut ante turpis. Pellentesque laoreet mé vel lectus scelerisque interdum cursus velit auctor. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam ac mauris lectus, non scelerisque augue. Aenean justo massa.

							dd.accordion-navigation.small-12.left
								a(href="#seguranca").bg-secondary.small-12.left
									h2.small-12.box-title.icon-lock Segurança
								div#seguranca.content.small-12.left.content_block
									| <br>
									p Casamentiss faiz malandris se pirulitá, Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum. Lorem ipsum dolor sit amet, consectetuer Ispecialista im mé intende tudis nuam golada, vinho, uiski, carirí, rum da jamaikis, só num pode ser mijis. Adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.

							dd.accordion-navigation.small-12.left
								a(href="#atracoes-turisticas").bg-secondary.small-12.left
									h2.small-12.box-title.icon-store  Atrações Turísticas
								div#atracoes-turisticas.content.small-12.left.content_block
									| <br>
									p Cevadis im ampola pa arma uma pindureta. Nam varius eleifend orci, sed viverra nisl condimentum ut. Donec eget justis enim. Atirei o pau no gatis. Viva Forevis aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Copo furadis é disculpa de babadis, arcu quam euismod magna, bibendum egestas augue arcu ut est. Delegadis gente finis. In sit amet mattis porris, paradis. Paisis, filhis, espiritis santis. Mé faiz elementum girarzis. Pellentesque viverra accumsan ipsum elementum gravidis.

				div(class="small-3 columns")
					include sidebar
		include footer