doctype html
html(class="no-js", lang="pt")
	include head
	body
		include header
		div#content(role="content")
			div.row
				nav(class="small-12 columns")#breadcrumbs
					ul.breadcrumbs
						li
							a(href=".") Home
						li
							a(href="#") O Congresso
						li
							a(href="#") Informações
						li.current
							a(href="#") Viagem e Hospedagem

				div(class="small-9 columns")
					div(class="small-12")#page-title
						h1
							a(href="#") INFORMAÇÕES

					div.sub-category-menu
						a(href="/informacoes.html").button Informações Gerais
						a(href="/informacoes-viagem.html").button.current Viagem e Hospedagem
						a(href="/informacoes-agencia.html").button Agência de Eventos
						a(href="/informacoes-saopaulo.html" style="min-width:inherit").button São Paulo

					div(class="small-12")
						//- Diferencial
						div.small-12.left.empresa
							div.small-4.left.logo
								img(src="http://placehold.it/300x200", alt="")
							div.small-8.left.local
								h3 Diferencial Viagens e Turismo
								address
									p 
										a(href="#") Rua Cubatão , 929 - Cj.26 <br> CEP: 04013-002 - São Paulo/SP 
										| <br> Tel. 
										a(href="#") +55 (11) 5081-2444 
										| ou 
										a(href="#") +55 (11) 5081-2444
										| <br>
										a.link(href="#") www.diferencialtur.com.br

						//- Hotel 1
						div.small-12.left.local
							h2.small-12.box-title.icon-building.bg-secondary Hotéis
							div.orbit-container
								ul.content-slider(data-orbit, data-options="slide_number: false; bullets: false; timer: false; next_class: block-nav-next; prev_class: block-nav-prev; ")
									li
										img(src="http://placehold.it/740x210/112233", alt="")
									li
										img(src="http://placehold.it/740x210/223344", alt="")
									li
										img(src="http://placehold.it/740x210/334455", alt="")

							h3 Golden Tulip Belas Artes
							address
								p 
									a(href="#") Rua Frei Caneca, 1199 - Consolação <br> CEP: 01307-001, São Paulo/SP 
									| <br> Tel. 
									a(href="#") +55 (11) 472-2020 
									| ou 
									a(href="#") +55 (11) 3472-2000
									| <br>
									a.link(href="#") www.convencoesfreicaneca.com.br

							p A apenas uma quadra da Avenida Paulista, próximo à Consolação, está o Hotel São Paulo Golden Tulip Belas Artes, que já há tempos vem se reafirmando como uma das opções de hospedagem com a melhor excelência em serviços de São Paulo. A atenção com o hóspede segue à risca o premiado padrão de atendimento da rede Golden Tulip, e vai desde o compromisso com a oferta de uma estrutura e sofisticada de hospedagem até o elemento humano, presente no atendimento atencioso e experiente de toda a nossa equipe.

						//- Como chegar
						div.small-12.left.como-chegar
							span.icon-map.small-1.left
							p.small-11.left Como chegar ao Golden Tulip Belas Artes
							p.small-11.left.route Para tarçar a rota.
								a(href="#")  clique aqui &#62;
							<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3657.3062005513357!2d-46.65741889999995!3d-23.557443799999984!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94ce59cceaff45b1%3A0x45be3a66747bfb97!2sR.+Frei+Caneca%2C+1199+-+Consola%C3%A7%C3%A3o%2C+S%C3%A3o+Paulo+-+SP%2C+01307-001!5e0!3m2!1spt-BR!2sbr!4v1412023830120" width="740" height="300" frameborder="0" style="border:0"></iframe>

						div.small-12.left.line

						//- Hotel 2
						div.small-12.left.local
							div.orbit-container
								ul.content-slider(data-orbit, data-options="slide_number: false; bullets: false; timer: false; next_class: block-nav-next;  prev_class: block-nav-prev; ")
									li
										img(src="http://placehold.it/740x210/112233", alt="")
									li
										img(src="http://placehold.it/740x210/223344", alt="")
									li
										img(src="http://placehold.it/740x210/334455", alt="")

							h3 Golden Tulip Belas Artes
							address
								p 
									a(href="#") Rua Frei Caneca, 1199 - Consolação <br> CEP: 01307-001, São Paulo/SP 
									| <br> Tel. 
									a(href="#") +55 (11) 472-2020 
									| ou 
									a(href="#") +55 (11) 3472-2000
									| <br>
									a.link(href="#") www.convencoesfreicaneca.com.br

							p A apenas uma quadra da Avenida Paulista, próximo à Consolação, está o Hotel São Paulo Golden Tulip Belas Artes, que já há tempos vem se reafirmando como uma das opções de hospedagem com a melhor excelência em serviços de São Paulo. A atenção com o hóspede segue à risca o premiado padrão de atendimento da rede Golden Tulip, e vai desde o compromisso com a oferta de uma estrutura e sofisticada de hospedagem até o elemento humano, presente no atendimento atencioso e experiente de toda a nossa equipe.

						//- Como chegar
						div.small-12.left.como-chegar
							span.icon-map.small-1.left
							p.small-11.left Como chegar ao Golden Tulip Belas Artes
							p.small-11.left.route Para tarçar a rota.
								a(href="#")  clique aqui &#62;
							<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3657.3062005513357!2d-46.65741889999995!3d-23.557443799999984!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94ce59cceaff45b1%3A0x45be3a66747bfb97!2sR.+Frei+Caneca%2C+1199+-+Consola%C3%A7%C3%A3o%2C+S%C3%A3o+Paulo+-+SP%2C+01307-001!5e0!3m2!1spt-BR!2sbr!4v1412023830120" width="740" height="300" frameborder="0" style="border:0"></iframe>

				div(class="small-3 columns")
					include sidebar
		include footer