doctype html
html(class="no-js", lang="pt")
	include head
	body
		include header
		div#content(role="content")
			div.row
				nav(class="small-12 columns")#breadcrumbs
					ul.breadcrumbs
						li
							a(href=".") Home
						li
							a(href="#") O Congresso
						li
							a(href="#") Informações
						li.current
							a(href="#") Informações Gerais

				div(class="small-9 columns")
					div(class="small-12")#page-title
						h1
							a(href="#") INFORMAÇÕES
					div.sub-category-menu
						a(href="/informacoes.html").button.current Informações Gerais
						a(href="/informacoes-viagem.html").button Viagem e Hospedagem
						a(href="/informacoes-agencia.html").button Agência de Eventos
						a(href="/informacoes-saopaulo.html" style="min-width:inherit").button São Paulo

					div(class="small-12")
						//- Avisos e Mensagens
						div.small-12.left#avisos 
							h2.small-12.box-title.icon-mail-1.bg-secondary Avisos e Mensagens
							div.left.custom-panel(data-equalizer)
								div.small-12.left.panel.border-secondary(data-equalizer-watch)
									h3 &#8226; Fique atento aos prazos e datas para a entrega de Trabalhos e SL de Lâminas.
									p Confira o caledário de entregas.
										a(href="#")  clique aqui &#62;		
								div.small-12.left.panel.border-secondary(data-equalizer-watch)
									h3 &#8226; Fique atento aos prazos para inscrições.
									p Confira o caledário.
										a(href="#")  clique aqui &#62;
	
						//- Material de Divulgação
						div.small-12.left#material
							h2.small-12.box-title.icon-doc.bg-primary Material de Divulgação
							div.left.custom-panel(data-equalizer)
								div.small-12.left.columns.panel.border-primary(data-equalizer-watch)
									h3 &#8226; Fique atento aos prazos e datas para a entrega de Trabalhos e SL de Lâminas.
									p Confira o caledário de entregas.
										a(href="#")  clique aqui &#62;		

								div.small-12.left.columns.panel.border-primary(data-equalizer-watch)
									h3 &#8226; Fique atento aos prazos para inscrições.
									p Confira o caledário.
										a(href="#")  clique aqui &#62;

						div.small-12.left.line

						//- Local do Evento
						div.small-12.left.local
							h2.small-12.box-title.icon-place.bg-secondary Local do Evento
							div.orbit-container
								ul.content-slider(data-orbit, data-options="slide_number: false; bullets: false; timer: false; next_class: block-nav-next;  prev_class: block-nav-prev; ")
									li
										img(src="http://placehold.it/740x210/112233", alt="")
									li
										img(src="http://placehold.it/740x210/223344", alt="")
									li
										img(src="http://placehold.it/740x210/334455", alt="")

							h3 Centro de Convenções Frei Caneca
							address
								p 
									a(href="#") Rua Frei Caneca, 569, Consolação <br> CEP: 01307-001, São Paulo/SP 
									| <br> Tel. 
									a(href="#") +55 (11) 3472-2020 
									| ou 
									a(href="#") +55 (11) 3472-2000
									| <br>
									a.link(href="#") www.convencoesfreicaneca.com.br

							p O Centro de Convenções Frei Caneca está localizado próximo a Avenida Paulista, estação Consolação do Metrô e a uma diversificada rede de business hotéis, restaurantes de primeira linha e opções culturais.

							p Um dos mais conceituados espaços de eventos da capital paulista, o Centro de Convenções Frei Caneca conta com diferenciais de infraestrutura, conforto, segurança e localização.

							p São 6.500m² de área de exposição, totalmente climatizada, que a partir de 2013 será ampliada 10.500m².

							p Integrado ao Shopping Frei Caneca, oferece diversificadas opções de alimentação, serviços e 1.000 vagas cobertas de estacionamento.

						//- Como chegar
						div.small-12.left.como-chegar
							span.icon-map.small-1.left
							p.small-11.left Como chegar no Centro de Convenções Frei Caneca
							p.small-11.left.route Para tarçar a rota.
								a(href="#")  clique aqui &#62;
							<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d14629.624984457318!2d-46.6530035!3d-23.5538488!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94ce58353b25cd23%3A0xe0b397dedc4d9cee!2sR.+Frei+Caneca%2C+569+-+Consola%C3%A7%C3%A3o%2C+S%C3%A3o+Paulo+-+SP%2C+01307-001!5e0!3m2!1spt-BR!2sbr!4v1412021111375" width="740" height="300" frameborder="0" style="border:0"></iframe>

				div(class="small-3 columns")
					include sidebar
		include footer