doctype html
html(class="no-js", lang="pt")
	include head
	body
		include header
		div#content(role="content")
			div.row
				nav(class="small-12 columns")#breadcrumbs
					ul.breadcrumbs
						li
							a(href=".") Home
						li
							a(href="#") Área Administrativa
						li.current
							a(href="#") Participante

				div(class="small-9 columns")
					div(class="small-12")#page-title
						h1
							a(href="#") ÁREA ADMINISTRATIVA
					div.sub-category-menu
						a(href="#").button EDITAR ATIVIDADES
						a(href="#").button RE-IMPRIMIR BOLETO
						a(href="#").button.right ALTERAR SENHA

					.small-12.left
						.small-12.bg-secondary.left
							h2.small-12.box-title.icon-folder-move.left Submeter Seminário de Lâminas
						.small-12.login_block.left
							form
								div.small-12.columns
									h2 Para submeter seus seminários faça o login:

								div.small-6.columns.box
									.small-2.columns
										.icon-user
									.small-10.columns
										input(type="text" placeholder="E-MAIL")

								div.small-5.columns.box
									.small-2.columns
										.icon-key
									.small-10.columns
										input(type="text" placeholder="SENHA")

								div.small-1.columns.box
									button.button OK

								div.small-12.columns
									p Ainda não efetuou seu cadastro? 
										a(href="#")  Clique aqui e cadastre-se agora.


						.small-12.left#adm-table
							.small-12.left.content_line
								.small-4.columns.panel.bg-custom.dark-gray DATA / HORÁRIO - INÍCIO
								.small-4.columns.panel.bg-custom.dark-gray DATA / HORÁRIO - TÉRMINO
								.small-4.columns.panel.bg-custom.dark-gray ATIVIDADE

							.small-12.left.content_line
								.small-4.columns.panel 13/09/2015 / 14:00:00
								.small-4.columns.panel 13/09/2015 / 15:00:00
								.small-4.columns.panel CL01 - Patologia Mamária

							.small-12.left.content_line
								.small-4.columns.panel 13/09/2015 / 14:00:00
								.small-4.columns.panel 13/09/2015 / 15:00:00
								.small-4.columns.panel CL01 - Patologia Mamária

							.small-12.left.content_line
								.small-4.columns.panel 13/09/2015 / 14:00:00
								.small-4.columns.panel 13/09/2015 / 15:00:00
								.small-4.columns.panel CL01 - Patologia Mamária

						.small-6.left#accompanying
							.accompanying-title
								h2 Acompanhantes:
								p Administre seus acompanhantes.
							dl.small-12.accordion(data-accordion)
								dd.accordion-navigation.small-12.left
									a(href="#user1").small-12.left
										.icon-check
										button.icon-close
										h2.small-12 User Name 1
									div#user1.content.small-12.left
										p CPF: 873.537.632-56
										p Categoria: Residente
										p Pagamento: 
											strong  Pago

								dd.accordion-navigation.small-12.left
									a(href="#user2").small-12.left
										.icon-check
										button.icon-close
										h2.small-12 User Name 2
									div#user2.content.small-12.left
										p CPF: 873.537.632-56
										p Categoria: Residente
										p Pagamento: 
											strong  Pago

								dd.accordion-navigation.small-12.left
									a(href="#user3").small-12.left
										.icon-check
										button.icon-close
										h2.small-12 User Name 3
									div#user3.content.small-12.left
										p CPF: 873.537.632-56
										p Categoria: Residente
										p Pagamento: 
											strong  Pago

						.small-6.left#accompanying-add
							.accompanying-title
								h2 Novo acompanhante:
								p Insira o CPF do novo acompanhante.
							form.row
								div.small-12.columns
									div(data-alert class="alert-box") Acompanhante inserido!
										a(href="#" class="close") &times;
								div.small-12.columns
									input(type="text" placeholder="CPF")

								div.small-12.columns
									select
										option(value="") CATEGORIA
										option(value="opcao1") Opção 1
										option(value="opcao2") Opção 2
										option(value="opcao3") Opção 3
										option(value="opcao4") Opção 4
								div.small-12.columns
									select
										option(value="") PAGAMENTO
										option(value="opcao1") Opção 1
										option(value="opcao2") Opção 2
										option(value="opcao3") Opção 3
										option(value="opcao4") Opção 4
								div.small-12.columns
									button.button.small-12.secondary INSCREVER NOVO ACOMPANHANTE

				div(class="small-3 columns")
					include sidebar
		include footer