doctype html
html(class="no-js", lang="pt")
	include head
	body
		include header
		div#content(role="content")
			div.row
				nav(class="small-12 columns")#breadcrumbs
					ul.breadcrumbs
						li
							a(href=".") Home
						li.current
							a(href="#") Inscrições

				div(class="small-9 columns")
					div(class="small-12")#page-title
						h1
							a(href="#") INSCRIÇÕES

					.small-12.row.collapse
						.small-12.columns.content_block
						p Para concluir sua inscrição selecione a forma de pagamento:

						.small-12.columns
							button.small-5.left.columns.button.primary Boleto bancário
							button.small-5.right.columns.button.bg-custom.dark-gray Cartão de Crédito	

							br
							br
							br
							br
							br

						.small-12.columns
							a(href="#").small-12.button.primary Finalizar Inscrição

				div(class="small-3 columns")
					include sidebar
		include footer