doctype html
html(class="no-js", lang="pt")
	include head
	body
		include header
		div#content(role="content")
			div.row
				nav(class="small-12 columns")#breadcrumbs
					ul.breadcrumbs
						li
							a(href=".") Home
						li.current
							a(href="#") Inscrição local

				div(class="small-9 columns")
					div(class="small-12")#page-title
						h1
							a(href="#") INSCRIÇÃO LOCAL

					div(class="small-12")
						.row
							.small-8.small-centered.column
								.row
									.content_block
										.small-3.columns
											p(style="margin-bottom:0") CPF:
										.small-9.columns
											p(style="margin-bottom:0") 396.233.528-59
										.small-3.columns
											p(style="margin-bottom:0") Nome:
										.small-9.columns
											p(style="margin-bottom:0") Raul Souza Silva Mendes
										.small-3.columns
											p(style="margin-bottom:0") CRM/UF:
										.small-9.columns
											p(style="margin-bottom:0") 396.233.528-59
										.small-3.columns
											p(style="margin-bottom:0") Categoria:
										.small-9.columns
											p.red(style="margin-bottom:0") Associado Inadimplente
										.small-3.columns
											p(style="margin-bottom:0") Email:
										.small-9.columns
											p(style="margin-bottom:0") raul@outlook.com
										.small-3.columns
											p(style="margin-bottom:0") N&deg; Ficha:
										.small-9.columns
											p(style="margin-bottom:0") 1237654
						.row
							.small-12.columns
								p &nbsp;
						
						.row
							.small-12.left.table-custom
								table.small-10.small-offset-1
									thead.small-12
										tr
											th.small-8.bg-secondary Categoria
											th.small-4.bg-secondary Valor (R$)

									tbody.small-12
										tr
											td.small-6 Não associado / Inadimplente
											td.small-3 120,00

						.row
							.small-12.left.table-custom
								table.small-10.small-offset-1
									caption
										small Passe o mouse para editar
									thead.small-12
										tr
											th.small-8.bg-secondary Nome do Acompanhante
											th.small-4.bg-secondary Valor (R$)

									tbody.small-12
										tr
											td.small-6.action-edit Leandro da Silva Soares
											td.small-3.action-del 80,00
										tr
											td(colspan="2").small-12
												form
													.row.collapse
														.small-11.columns
															input(type="text" placeholder="Nome")
														.small-1.columns
															a.button.postfix.icon-sum(href="#" style="padding:0; line-height:3.125")
									tfoot
										tr
											th(colspan="2").small-12.text-right Total: 200,00
						.row
							.small-12.columns
								a.button.expand.bg-primary(href="#") AVANÇAR

							.small-5.columns
								a.button.expand.bg-custom.dark-gray(href="#") Voltar
				div(class="small-3 columns")
					include sidebar
		include footer