doctype html
html(class="no-js", lang="pt")
	include head
	body
		include header
		div#content(role="content")
			div.row
				nav(class="small-12 columns")#breadcrumbs
					ul.breadcrumbs
						li
							a(href=".") Home
						li.current
							a(href="#") Inscrição local

				div(class="small-9 columns")
					div(class="small-12")#page-title
						h1
							a(href="#") INSCRIÇÃO LOCAL - NÃO ASSOCIADO

					div(class="small-12")
						.row
							.small-8.small-centered.column
								.row
									.content_block
										p.lead Novo participante&nbsp;
											small (outro profissional da saúde)
										p Complete as informações a seguir:
										form
											.row.collapse
												.small-12.columns
													input(type="text" placeholder="Nome")
												.small-12.columns
													input(type="text" placeholder="CPF")
												.small-12.columns
													input(type="text" placeholder="Área da Saúde")
												.small-12.columns
													input(type="text" placeholder="Número/Especificador")
												.small-12.columns
													p Categoria:&nbsp;
														span.red Outro profissional de saúde
												.small-12.columns
													input(type="email" placeholder="email")
												.small-12.columns
													input(type="text" placeholder="Número da Ficha")
						.row
							.small-12.columns
								p &nbsp;
						
						.row
							.small-12.left.table-custom
								table.small-10.small-offset-1
									thead.small-12
										tr
											th.small-6.bg-secondary Categoria
											th(colspan="2").small-6.bg-secondary Valor (R$)

									tbody.small-12
										tr
											td.small-6 Outro Profissional de Saúde
											td.small-3 120,0
											td(style="padding:0").small-3
												a(href="#").button.expand INSCREVER

						.row
							.small-5.column.small-offset-7
								a.button.expand.bg-custom.dark-gray(href="#") Voltar
				div(class="small-3 columns")
					include sidebar
		include footer