doctype html
html(class="no-js", lang="pt")
	include head
	body
		include header
		div#content(role="content")
			div.row
				nav(class="small-12 columns")#breadcrumbs
					ul.breadcrumbs
						li
							a(href=".") Home
						li
							a(href="#") Inscrições
						li.current
							a(href="#") Login

				div(class="small-9 columns")
					div(class="small-12")#page-title
						h1
							a(href="#") LOGIN

					div(class="small-12")
						.content_block
							p Para prosseguir faça seu login:

						//- Login
						div.small-12.left.row.login_block
							form
								div.small-12.columns
									h2 Acesse a área de administração do usuário:

								div.small-6.columns.box
									.small-2.columns
										.icon-user
									.small-10.columns
										input(type="text" placeholder="E-MAIL")

								div.small-5.columns.box
									.small-2.columns
										.icon-key
									.small-10.columns
										input(type="text" placeholder="SENHA")

								div.small-1.columns.box
									button.button OK

								div.small-12.columns
									p Ainda não efetuou seu cadastro? 
										a(href="#")  Clique aqui e cadastre-se agora.

				div(class="small-3 columns")
					include sidebar
		include footer