doctype html
html(class="no-js", lang="pt")
	include head
	body
		include header
		div#content(role="content")
			div.row
				nav(class="small-12 columns")#breadcrumbs
					ul.breadcrumbs
						li
							a(href=".") Home
						li
							a(href="#") Inscrições
						li.current
							a(href="#") Cadastro

				div(class="small-9 columns")
					div(class="small-12")#page-title
						h1
							a(href="#") CADASTRO DO PARTICIPANTE

					div(class="small-12")
						.content_block
							p Para prosseguir faça seu login:

						//- Login
						div.small-12.left.login_block
							h2 PARTICIPANTE,
							p seu cadastro foi realizado com sucesso!
							p Você será automaticamente redirecionado para a inscrição em 10 segundos. Caso contrário você pode clicar na seção desejada.

					div.small-12.center
						button.button.secondary SEGUIR COM A INSCRIÇÃO
						button.button.bg-custom.dark-gray ÁREA ADMINISTRATIVA

				div(class="small-3 columns")
					include sidebar
		include footer