.reveal-modal.modal-custom#modal-remove-case(data-reveal)
	.small-12.left.bg-custom.red-blood
		h2.small-12.box-title.icon-alert REMOVER O CASO
	.small-12.left.text
		p Todos as imagens, história clínica, bibliografia e handout, serão apagados juntamente com o caso.
		p Tem certeza que deseja remover o caso?
	.small-12.left.buttons
		a(href="#").close-reveal-modal.button.small-4.left.bg-custom.gray CANCELAR
		a(href="#").button.small-8.left.bg-custom.red-blood REMOVER
