doctype html
html(class="no-js", lang="pt")
	include head
	body
		include header
		div#content(role="content")
			div.row
				nav(class="small-12 columns")#breadcrumbs
					ul.breadcrumbs
						li
							a(href=".") Home
						li
							a(href="#") O Congresso
						li.current
							a(href="#") Palestrantes

				div(class="small-9 columns")
					div#page-title(class="small-12")
						h1
							a(href="#") Palestrantes
					div.sub-category-menu
						a(href="/informacoes.html").button.current Nacionais
						a(href="/informacoes-viagem.html").button Internacionais

					each val, i in {1:'Abaetê Leite do Canto', 2:'Alexandre do Nascimento', 3:'Benjamin Antonio Rodrigues Terra', 4:'Osvaldo Giannotti Filho', 5:'Geraldo Resin Geyer'}
						.row(style='margin-bottom:1rem')
							.small-4.columns
								img(src='http://api.randomuser.me/portraits/lego/'+ i +'.jpg')
							.small-8.columns
								.content_block
									h4= val
									p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam obcaecati commodi recusandae rerum esse sed, tempora incidunt, corrupti magnam temporibus asperiores ut. Nemo veniam repellendus pariatur perferendis, nobis quae molestias.
									a(href='#') Clique aqui para ver o currículo completo &rsaquo;
					ul.pagination.right(role='menubar' aria-label='pagination')
						- var pages = 8; var j = 2;
						li.arrow.unavailable(aria-disabled='true')
							a.icon-a-left(href='#')
						li.current
							a(href='#') 1
						while j < pages
							li
								a(href='#')= j++
						li.arrow
							a.icon-a-right(href='#')
				div(class="small-3 columns")
					include sidebar
		include footer