doctype html
html(class="no-js", lang="pt")
	include head
	body
		include header
		div#content(role="content")
			div.row
				nav(class="small-12 columns")#breadcrumbs
					ul.breadcrumbs
						li
							a(href=".") Home
						li.current
							a(href="#") Programação Científica

				div(class="small-9 columns")
					div#page-title(class="small-12")
						h1
							a(href="#") Programação Científica
					div.sub-category-menu
						a(href="/informacoes-viagem.html").button Grade Científica
						a(href="/informacoes.html").button.current Programação Científica
						a(href="/informacoes-agencia.html").button Programação Social

					.row
						.small-12.column.left
							.content_block
								p.lead Programação Científica:
								p Programação atualizada em 08/11/15
								a(href='#').button.expand.primary Clique aqui para acessar a programação científica
				div(class="small-3 columns")
					include sidebar
		include footer